header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-container {
    display: flex;
    justify-content: space-between;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 140px;
    text-align: center;
    flex: 1;
}

#left-header-box {
    box-shadow: -6px -5px 0px 0px rgb(69, 69, 69);
}

#right-header-box {
    box-shadow: 6px -5px 0px 0px rgb(69, 69, 69);
}


#title {
    font-family: 'ChomskyRegular', 'Times New Roman', Times, serif;
    margin: 0px 20px;
    text-align: center;
    font-size: 76px;
}

#subtitle {
    text-align: center;
    font-family: 'Lateef';
    font-size: 28px;
    font-style: italic;
}

header nav {
    border-top: 1px solid gray;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
    margin: 5px 0px;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
   .header-box {
       display: none;
    }

    #title-container {
       justify-content: center;
    }
}

@media (max-width: 600px) {
    #title {
        font-size: 64px;
        line-height: 75%;
    }   

    #subtitle {
        font-size: 22px;
    }
}