#title-container {
    /* space-between flex for the "box - title - box" layout */
    display: flex;
    justify-content: space-between;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 140px;
    /* removing max width shows how this flex: 1 works */
    flex: 1;
}

#left-header-box {
    box-shadow: -6px -5px 0px 0px rgb(69, 69, 69);
}

#right-header-box {
    box-shadow: 6px -5px 0px 0px rgb(69, 69, 69);
}


#title {
    font-family: 'ChomskyRegular', 'Times New Roman', Times, serif;
    margin: 0px 20px;
    /* aligns text center when title is broken into 2 lines */
    text-align: center;
    font-size: 76px;
}

#subtitle {
    text-align: center;
    font-family: 'Lateef';
    font-size: 28px;
    font-style: italic;
}

header nav {
    border-top: 1px solid gray;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
    margin: 5px 0px;
}

@media (max-width: 800px) {

    /* remove the boxes under 800px */
   .header-box {
       display: none;
    }

    /* center the title since space between leaves it on the left as its the only flex item */
    #title-container {
       justify-content: center;
    }
}

@media (max-width: 600px) {

    /* shrink font sizes and make text hug itself a bit. looks good when title overflows to 2 lines */
    #title {
        font-size: 64px;
        line-height: 75%;
    }   

    #subtitle {
        font-size: 22px;
    }
}