.sub-heading {
    font-size: 40px;
    font-family: 'Lateef';
}

#content-container {
    display: flex;
}

@media (max-width: 800px) {
    #content-container {
        display: inline-block;
    }
}