@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* Make browser height, body child, and root child full browser height */
html, body, #root {
    height: 100%;
    /* background-color: rgb(73, 73, 78); */
}

/* Make the app full browser height and a vertical flex container */
#app {
    background-color: white;
    color: black;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /* app can't be wider than 800px, margin: auto to center it */
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: inset 0px 0px 5px 1px lightgray;
}

/* make the main section fill all height down to the footer */
main {
    flex: 1;
    height: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 150%;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

video, img {
    max-width: 100%;
}